.header {
  font-size: 1.8rem;
  height: 160px;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 0 108px;
  color: $black;
  @media (max-width: $layout-breakpoint-medium) {
    padding: 0 72px;
    font-size: 1.6rem;
  }
  @media (max-width: $layout-breakpoint-xsmall) {
    padding: 0 12px;
    height: 96px;
    font-size: 1.2rem;
  }
  .header-inner {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    .logo {
      font-weight: 700;
      font-size: 3.6rem;

      @media (max-width: $layout-breakpoint-medium) {
        font-size: 3.2rem;
        flex: 4;
      }
    }
    .nav {
      @media (max-width: $layout-breakpoint-medium) {
        display: none;
      }
      display: flex;
      left: 500px;
      align-items: center;
      justify-content: center;

      li {
        list-style: none;
        margin: 0 40px;

        a {
          text-decoration: none;
          color: $black;
          white-space: nowrap;
          transition-duration: 300ms;
          transition-property: color, font-size;
          transition-delay: 0.1s;

          &:hover {
            font-size: 1.7rem;
            color: $background;
          }
        }
      }
    }
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $background;
      width: 7rem;
      height: 7rem;
      margin: 2rem;
      border: none;
      position: relative;
      cursor: none;
      z-index: 100;
      border-radius: 0 0 50% 50%;

      img {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
      }
    }
    .hamburger-menu {
      height: 56px;
      width: 56px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      cursor: pointer;
      &:hover {
        background: darken($color: $white, $amount: 12);
      }
      @media (min-width: $layout-breakpoint-medium) {
        display: none;
      }
      span {
        width: 20px;
        height: 3px;
        margin: 2px 0;
        background: $black;
        display: block;
      }
    }
  }
}
